.floatingNotificationBar {

  $WIDTH: 280px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: $WIDTH;
  padding: 16px 22px;
  border-radius: 5px;

  box-shadow: 0 2px 8px 0 rgba(black, 0.25);

  position: fixed;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;


  .message {

    flex-grow: 1;
    margin-left: 12px;

    font-size: 13px;
    font-weight: bold;
    line-height: 17px;
  }


  .icon {

    flex-shrink: 0;

    width: 24px;
  }


  .closeButton {

    margin-bottom: 10px;

    font-size: 28px;

    cursor: pointer;
  }


  &__error {

    background: #FFE1E0;
  }


  &__error .message {

    color: #D81E00;
  }


  &__error .icon {

    fill: #D81E00;
  }


  &__error .closeButton {

    color: #D81E00;
  }


  &__info {

    background: #E0F7FF;
  }


  &__info .message {

    color: #075C99;
  }


  &__info .icon {

    fill: #075C99;
  }


  &__info .closeButton {

    color: #075C99;
  }


  &__warning {

    background: #FFF0D6;
  }


  &__warning .message {

    color: #F5A623;
  }


  &__warning .icon {

    fill: #F5A623;
  }


  &__warning .closeButton {

    color: #F5A623;
  }


  &__success {

    background: #E5FEE0;
  }


  &__success .message {

    color: #40B87C;
  }


  &__success .icon {

    fill: #40B87C;
  }


  &__success .closeButton {

    color: #40B87C;
  }
}
