.imageUploadArea {


  $IMAGE_UPLOADING_COLOR: #C8C8C8;
  $Z_INDEX: 1;

  position: relative;

  margin-top: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: $IMAGE_UPLOADING_COLOR;
  border-radius: 5px;


  &:hover {

    opacity: 0.7;
  }


  .uploadButton {

    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .uploadGuidance {

    font-size: 12px;
    color: #222222;
  }


  .icon {

    width: 84px;
    fill: $IMAGE_UPLOADING_COLOR;

    margin-top: 24px;
  }


  .inputClickFlag {

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    z-index: $Z_INDEX;
  }


  .inputFiles {

    display: none;
  }

  .guidance {

    font-size: 12px;
    color: #5F5F5F;
  }


  // - ローディング処理 =====================================================================================================
  .blockingLoadingOverlay {

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    z-index: $Z_INDEX + 1;

    width: 100%;
    height: 100%;

    background: rgba(black, 0.55);
    cursor: not-allowed;
  }


  .loadingIndicator, .loadingIndicator:after {

    width: 64px;
    height: 64px;
    border-radius: 50%;


    $BACKGROUND_COLOR: rgba(255, 255, 255, 0.2);
    $ACCENT_COLOR: #c65151;

    align-self: center;

    font-size: 7px;
    border-top: 1.1em solid $ACCENT_COLOR;
    border-right: 1.1em solid $ACCENT_COLOR;
    border-bottom: 1.1em solid $ACCENT_COLOR;
    border-left: 1.1em solid $BACKGROUND_COLOR;
    animation: ImageUploaderLoadingSpinnerAnimation 1.1s infinite linear;

    @keyframes ImageUploaderLoadingSpinnerAnimation {

      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }
}


// - ラベルと必須のバッジ ==================================================================================================
.labelAndRequiredBadge {

  display: flex;
  align-items: center;
}

.label {

  font-size: 14px;
}


.requiredBadge {

  font-size: 12px;
  color: #C65151;
  background: #ffe1e1;
  border-radius: 5px;

  margin-left: 10px;

  padding: 3px 5px;
}
